<% provide(:path, admin_brands_path) %>
<% provide(:button_text, t("views.admin.brand.new.b_submit")) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t "views.admin.brand.new.p_title"%>
  </div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>
