<div class="list-group">
  <div class="list-group-item"><h4><strong>Account Management</strong></h2></div>
  <%= link_to "Customer Info", user_account_details_path(current_user), class: "list-group-item active" %>
  <%= link_to "Email Services", contact_path, class: "list-group-item"%>
</div>
