<!-- Main Footer -->
<footer class="main-footer">
  <!-- Default to the left -->
  <strong><%= t "views.layout.admin.footer_copyright" %>
    <a href="#"><%= t "views.layout.admin.footer_company" %></a>.
  </strong> <%= t "views.layout.admin.footer_endline" %>
</footer>
